.aboutDataCol {
  // padding-left: 10%;
  padding-bottom: 10%;
  .aboutDataTitle {
    font-family: myPortfolioFont;
  }

  // .aboutDataContent {
  //   // border: 3px solid white;
  //   // background-color: #50A060;
  //   // border-radius: 30px;
  // }
}

.aboutBgCol {
  background-color: #50A060;
}